<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <plugins>
        <plugin interceptor="com.cn.intercept.MyPageInterceptor">
            <property name="limit" value="10" />
            <property name="dbType" value="mysql" />
        </plugin>
    </plugins>

    <!--<mappers>-->
        <!--<mapper resource="E:\IdeaWorkspace\Mytest\src\main\resources\mapper\PageMapper.xml" />-->

    <!--</mappers>-->
</configuration>