<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.cn.dao.PageDao">
    <resultMap id="user" type="com.cn.entity.User">
        <id property="u_id" column="U_ID" />
        <result property="u_name" column="U_NAME" />
        <result property="password" column="PWD" />
        <result property="email" column="EMAIL" />
        <result property="phone" column="PHONE" />
    </resultMap>
    <select id="queryUserByPage" parameterType="map" resultMap="user">
        SELECT * FROM user1
    </select>
</mapper>